*{
    margin:0;
    padding:0;
}
html, 
body{
    height:100%;
   ;
   background-color:  antiquewhite;
}
.logo{
    background-color: black;
    color: orange;
    width: 120px;
    border-radius: 5px;
    padding: 13px;
}
.sidebar{
    background-color: orange;
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 0px 5px 1px rgba(0,0,0,0.1);
}
.title-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:20px;
    font-weight: lighter;
}
.white{
    color: white;
}
.links-container{
    padding: 0px 15px;
}
.links{
    display:flex;
    align-items: center;
    cursor: pointer;
}
.icons{
    height: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: azure;
}
.links span{
    padding: 0px 15px;
}
.main-content{
    background-color:  antiquewhite;
    height: 100%;
    margin-left: 300px;
    padding: 20px 25px;
    box-sizing: border-box;

}
.input-box{
    display: flex;
    background-color: white;
    justify-content: space-between;
    width: 400px;
     box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
     padding: 5px 25px;
     border-radius: 5px;
     align-items: center;
}
.input-box input{
    border: none;
    outline: none;
    width: 100%;
}
.input-box i{
    color: orange;
}
.action-icon-one,
.action-icon-two
{
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.action-icon-one{
    background-color:orange;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
    color: white;
    font-weight: bolder;
    border-radius: 5px;
}
.action-icon-two img{
    border-radius: 50%;
}
.action-icon-two{
background-color: white;
box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1); 
border-radius: 50px;
color: orange;
border: 2px solid orange;

}
.action-icons{
    display: flex;
    
}
.nav{
    display: flex;
    justify-content: space-between;
}
.welcome-text{
    font-weight: lighter;
    font-size: 20px;
    margin: 20px 4px;
}
.user{
    color: orange;
    font-style: italic;
}
.grid-container{
    display: grid;
    grid-template-columns: 65% auto;
    grid-gap: 25px;
}
.grid-item{
    height: 350px;
    background-color: white;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1); 
    border-radius: 25px;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;

}
.avatar{

    display: flex;
    align-items: center;
}
.one .post{
    padding-top: 30px;
}
.main-text{
  
    color: orange;
    font-weight: bolder;

}
.announcement-content{
    color: orange;
    padding-top: 15px;
}
.trending-title{
    color: orange;
}

.im{
    border-radius: 50%;
   width: 40px;
   height: 40px;
   border: 3px solid orange;
}
.user-2{
    color: gray;
    font-style: italic;
    opacity: 0.5;
}
li{
    list-style: none;
    padding-top: 5px ;
}
.trend-content{
    padding-top: 16px;
}
.three .post{
    padding-top: 30px;
}
.lining{
    border: 2px solid whitw;
  
}